In [2]:
from utils.db import get_connection

try:
    conn = get_connection()
    cursor = conn.cursor()
    print("Connection Successful")
except Exception as e:
    print("Connection Failed: ", e)

Connection Successful

<h1>Seasons Table</h1>

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS seasons (
        season_id CHAR(36) PRIMARY KEY,
        year INT NOT NULL,
        start_date DATE NOT NULL,
        end_date DATE NOT NULL,
        status VARCHAR(20) NOT NULL,
        type_code VARCHAR(10) NOT NULL
    );
""")

<h1>Venues Table</h1>

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS venues (
        venue_id CHAR(36) PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        city VARCHAR(25) NOT NULL,
        state VARCHAR(10) NOT NULL,
        country VARCHAR(10) NOT NULL,
        zip VARCHAR(10) NOT NULL,
        address VARCHAR(50) NOT NULL,
        capacity INT NOT NULL,
        surface VARCHAR(25) NOT NULL,
        roof_type VARCHAR(25) NOT NULL,
        latitude FLOAT NOT NULL,
        longitude FLOAT NOT NULL
    );
""")

<h1>Divisions & Conferences Table</h1>

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS divisions (
        division_id CHAR(36) PRIMARY KEY,
        name varchar(20) NOT NULL,
        alias varchar(20) NOT NULL
    );
""")    
    
cursor.execute("""
    CREATE TABLE IF NOT EXISTS conferences (
        conference_id CHAR(36) PRIMARY KEY,
        name varchar(20) NOT NULL,
        alias varchar(20) NOT NULL
    );
""")

<h1>Teams Table</h1>

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS teams(
        team_id CHAR(36) PRIMARY KEY,
        market VARCHAR(50) NOT NULL,
        name VARCHAR(50) NOT NULL,
        alias VARCHAR(10) NOT NULL,
        founded INT NOT NULL,
        mascot VARCHAR(50) NOT NULL,
        fight_song VARCHAR(50) NOT NULL,
        championships_won INT NOT NULL,
        
        conference_id CHAR(36) NOT NULL,
        division_id   CHAR(36) NOT NULL,
        venue_id      CHAR(36) NOT NULL,

        FOREIGN KEY (conference_id) REFERENCES conferences(conference_id),
        FOREIGN KEY (division_id) REFERENCES divisions(division_id),
        FOREIGN KEY (venue_id) REFERENCES venues(venue_id)
    );
""")

<h1>Coaches Table</h1>

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS coaches(
        coach_id CHAR(36) PRIMARY KEY,
        full_name VARCHAR(50) NOT NULL,
        position VARCHAR(50) NOT NULL,
        
        team_id CHAR(36) NOT NULL,
        FOREIGN KEY (team_id) REFERENCES teams(team_id)
    );
""")

<h1>Players Table</h1>

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS players (
        player_id CHAR(36) PRIMARY KEY,
        first_name VARCHAR(25) NOT NULL,
        last_name VARCHAR(25) NOT NULL,
        abbr_name VARCHAR(25) NOT NULL,
        birth_place VARCHAR(50) NOT NULL,
        position VARCHAR(5) NOT NULL,
        height INT NOT NULL,
        weight INT NOT NULL,
        status VARCHAR(10) NOT NULL,
        eligibility VARCHAR(10) NOT NULL,

        team_id CHAR(36) NOT NULL,
        FOREIGN KEY (team_id) REFERENCES teams(team_id)
    )
""")

<h1>Player Statistics Table</h1>

In [2]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS player_statistics (
        stat_id CHAR(36) PRIMARY KEY,
        games_played INT NOT NULL,
        games_started INT NOT NULL,
        rushing_yards INT NOT NULL,
        rushing_touchdowns INT NOT NULL,
        receiving_yards INT NOT NULL,
        receiving_touchdowns INT NOT NULL,
        kick_return_yards INT NOT NULL,
        fumbles INT NOT NULL,

        player_id CHAR(36) NOT NULL,
        team_id CHAR(36) NOT NULL,
        season_id CHAR(36) NOT NULL,

        FOREIGN KEY (player_id) REFERENCES players(player_id),
        FOREIGN KEY (team_id) REFERENCES teams(team_id),
        FOREIGN KEY (season_id) REFERENCES seasons(season_id)
    );
""")

<h1>Rankings Table</h1>

In [7]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS rankings(
        ranking_id INT AUTO_INCREMENT PRIMARY KEY,
        poll_id CHAR(36) NOT NULL,
        poll_name VARCHAR(50) NOT NULL,
        week INT NOT NULL,
        effective_time TIMESTAMP NOT NULL,
        current_rank INT NOT NULL,
        prev_rank INT NOT NULL,
        points INT NOT NULL,
        fp_votes INT NOT NULL,
        wins INT NOT NULL,
        losses INT NOT NULL,
        ties INT NOT NULL,

        team_id CHAR(36) NOT NULL,
        season_id CHAR(36) NOT NULL,

        FOREIGN KEY (team_id) REFERENCES teams(team_id),
        FOREIGN KEY (season_id) REFERENCES seasons(season_id)
    );
""")

<h1>Season Schedules Table</h1>

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS season_schedules(
        game_id CHAR(36) PRIMARY KEY,
        status VARCHAR(25) NOT NULL,
        scheduled TIMESTAMP NOT NULL,
        attendance INT NOT NULL,

        season_id CHAR(36) NOT NULL,
        venue_id CHAR(36) NOT NULL,
        home_team_id CHAR(36) NOT NULL,
        away_team_id CHAR(36) NOT NULL,

        FOREIGN KEY (season_id) REFERENCES seasons(season_id),
        FOREIGN KEY (venue_id) REFERENCES venues(venue_id),
        FOREIGN KEY (home_team_id) REFERENCES teams(team_id),
        FOREIGN KEY (away_team_id) REFERENCES teams(team_id)
    );
""")